// === tooltip === //
$cd-tooltip-bg-color:       var(--o2);
$cd-tooltip-arrow-color:    var(--o2);
$cd-tooltip-shadow-color:   var(--o1);
$cd-tooltip-color:          var(--c2);
$cd-tooltip-font-size:      cd-fontSize(s14);
$cd-tooltip-margin:         14px;

// === navbar === //
$cd-nav-default-bg-color:		var(--c2);
$cd-nav-bg-color:				var(--c3);
$cd-nav-color:					var(--c7);
$cd-nav-hover-bg-color:			var(--c9);
$cd-nav-hover-color:			var(--c2);
$cd-nav-highlight-bg-color:		var(--c3);
$cd-nav-border-color:			var(--c4);
$cd-nav-shadow-color:			var(--c5);
