// === tooltip === //
$cd-tooltip-bg-color:       var(--sfo2);
$cd-tooltip-arrow-color:    var(--sfo2);
$cd-tooltip-shadow-color:   var(--sfo1);
$cd-tooltip-color:          var(--sfc2);
$cd-tooltip-font-size:      cd-fontSize(s14);
$cd-tooltip-margin:         14px;

// === navbar === //
$cd-nav-default-bg-color:		var(--sfc2);
$cd-nav-bg-color:				var(--sfc3);
$cd-nav-color:					var(--sfc7);
$cd-nav-hover-bg-color:			var(--sfc9);
$cd-nav-hover-color:			var(--sfc2);
$cd-nav-highlight-bg-color:		var(--sfc3);
$cd-nav-border-color:			var(--sfc4);
$cd-nav-shadow-color:			var(--sfc5);
