/**
	Break Points: (in pixels)
		widescreen:		1201	- 	greater
		desktop:		993 	- 	1200
		tablet:			768 	- 	992
		smartphone:		481 	- 	767
		portrait:		0 		- 	480

	Media queries has two styles:
		1. Mobile First: mobile friendly styles
			Sequence (top to bottom): portrait, smartphone, tablet, desktop, widescreen

		2. Desktop First: desktop friendly styles
			Sequence (top to bottom): widescreen, desktop, tablet, smartphone, portrait

	@param $platformFirst:	mobile | desktop
	@param $device:		portrait | smartphone | tablet | desktop | widescreen

	Example:
	@include cd-media(mobile, smartphone) { }
	@include cd-media(desktop, smartphone) { }
*/
@mixin cd-media($platformFirst, $device) {
	@if map-has-key($cd-devicePoints, $platformFirst) {
		// platform
		$platform: map-get($cd-devicePoints, $platformFirst);

		// breakpoint
		@if map-has-key($platform, $device) {
			@media #{inspect(map-get($platform, $device))} {
				@content;
			}
		} @else {
			@error 'Couldn\'t find a breakpoint named: `#{$device}`.';
		}
	} @else {
		@error 'Couldn\'t find a platform named: `#{$platformFirst}`.';
	}
}
