$cd-link-color:					cd-palette($cd-color, 1013);
$cd-link-visited-color:			cd-palette($cd-color, 1015);
$cd-link-hover-color:			cd-palette($cd-color, 1014);
$cd-link-active-color:			cd-palette($cd-color, 1016);
$cd-link-disabled-color:		cd-palette($cd-color, 1007);
