// Default
.default {
	margin: 0;
	padding: 0;
}

// Tag: body
body {
	font-family: cd-fontFamily(helvetica);
}

// Tags: h, p
h1, h2, h3, h4, h5, h6, p {
	@extend .default;
	color: cd-palette($cd-color, 1009);
}
h1 { font-size: cd-fontSize(h1); }
h2 { font-size: cd-fontSize(h2); }
h3 { font-size: cd-fontSize(h3); }
h4 { font-size: cd-fontSize(h4); }
h5 { font-size: cd-fontSize(h5); }
h6 { font-size: cd-fontSize(h6); }
p { font-size: cd-fontSize(p); }

// Tag: hr
hr {
	border: 0;
	border-top: 1px solid cd-palette($cd-border, 3007);
	margin: 20px 0;
}

// Classes
.container {
	padding: 0;
}

.row {
	@extend .default;
}
