a, .cd-link {
	color: var(--sfc9);

	&:visited {
		color: var(--sfc11);
	}

	&:hover {
		color: var(--sfc10);
		opacity: .9;
	}

	&:active, &.cd-active {
		color: var(--sfc12);
	}

	&.cd-disabled {
		color: var(--sfc6);
		opacity: .4;
		pointer-events: none;
	}
}
