// === Alignment === //
.cd-left-align {
	text-align: left;
}

.cd-right-align {
	text-align: right;
}

.cd-center-align {
	text-align: center;
}

// === Visibility === //
.cd-hide {
	display: none;
}

.cd-show {
	display: block;
}

// === Overflow === //
.cd-hide-overflow {
	overflow: hidden;
}

// === Position === //
.cd-vh-center {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.cd-h-center {
	left: 50%;
	position: absolute;
	transform: translate(-50%, 0);
}

.cd-v-center {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}
