.cd-left-align {
	text-align: left;
}

.cd-right-align {
	text-align: right;
}

.cd-center-align {
	text-align: center;
}

.cd-hide {
	display: none;
}

.cd-show {
	display: block;
}

.cd-hide-overflow {
	overflow: hidden;
}
