* {
	box-sizing: border-box;

	&::before, &::after {
		box-sizing: border-box;
	}
}

img {
	max-width: 100%;
	vertical-align: middle;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

::selection {
	background-color: cd-palette($cd-background, 2010);
	color: cd-palette($cd-color, 1001);
}
