body {
	color: cd-palette($cd-color, 1009);
	font-family: cd-fontFamily(helvetica);
	font-size: 14px;
	line-height: 1.43;
}

h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: 400;
	line-height: 1.1;
}

h1, h2, h3, h4, h5, h6, p {
	color: cd-palette($cd-color, 1009);
	margin: 0;
	padding: 0;
}

h1 { font-size: cd-fontSize(h1); }
h2 { font-size: cd-fontSize(h2); }
h3 { font-size: cd-fontSize(h3); }
h4 { font-size: cd-fontSize(h4); }
h5 { font-size: cd-fontSize(h5); }
h6 { font-size: cd-fontSize(h6); }
p {
	font-size: cd-fontSize(p);
	font-weight: 300;
}
span { font-size: cd-fontSize(span); }