body {
	color: $cd-default-color;
	font-family: cd-fontFamily(roboto);
	font-size: cd-fontSize(body);
	line-height: cd-lineHeight(1.4);
}

h1, h2, h3, h4, h5, h6, p {  margin: 0; }

h1, h2, h3, h4, h5, h6, a { font-weight: cd-fontWeight(400); }
p, span { font-weight: cd-fontWeight(300); }

h1 { font-size: cd-fontSize(h1); }
h2 { font-size: cd-fontSize(h2); }
h3 { font-size: cd-fontSize(h3); }
h4 { font-size: cd-fontSize(h4); }
h5 { font-size: cd-fontSize(h5); }
h6 { font-size: cd-fontSize(h6); }
p { font-size: cd-fontSize(p); }
span { font-size: cd-fontSize(span); }
a { font-size: cd-fontSize(a); }
b {
	font-size: cd-fontSize(b);
	font-weight: cd-fontWeight(700);
}
