.cd-up-wrapper {
	header {
		background-color: cd-palette($cd-background, 2003);
		color: cd-palette($cd-color, 1000);
		padding: 0;

		.row {
			margin: 0;
			padding: 25px 0;

			.col {
				h1 {
					margin: 0;
				}

				h4 {
					font-weight: 100;
					margin: 5px 0 0;
				}
			}
		}
	}

	section {
		&.cd-up-summary {
			background-color: cd-palette($cd-background, 2004);

			.container {
				padding: 0;

				.row {
					margin: 0;

					.col {
						padding: 30px 15px;

						h2 {
							margin: 0;
						}

						p {
							margin: 12px 0 0;
						}
					}
				}
			}
		}

		&.cd-up-content {
			.container {
				padding: 0;

				.row {
					margin: 0;

					.cd-up-tags {
						padding: 30px 15px;

						h2 {
							margin: 0;
						}

						article {
							margin: 12px 0 0;

							span {
								background-color: cd-palette($cd-background, 2005);
								border-radius: 1px;
								color: cd-palette($cd-color, 1006);
								font-weight: 100;
								line-height: 2;
								padding: 4px 5px;
							}
						}
					}

					.cd-up-background {
						padding: 30px 15px;

						h2 {
							margin: 0;
						}
					}
				}
			}
		}
	}
}
