.cd-home-wrapper {
	header {
		.cd-top {
			background-color: cd-palette($cd-background, 2002);
			padding: 10px 0;

			.cd-col {
				margin: 0;

				a {
					text-transform: uppercase;
				}
			}
		}

		.cd-bottom {
			background-color: cd-palette($cd-background, 2001);
			padding: 10px 0;

			.cd-col {
				&:last-child {
					.cd-list-items {
						margin-top: 14px;

						li {
							display: inline-block;

							a {
								padding: 0 10px;
							}

							&:first-child {
								a {
									padding-left: 0;
								}
							}

							&:last-child {
								a {
									padding-right: 0;
								}
							}
						}
					}
				}
			}
		}

		// media
		@include cd-media(desktop, portrait) {
			.cd-bottom {
				.cd-col {
					&:first-child {
						text-align: center;
					}
				}
			}
		}
	}

	section {
		.cd-slider {
			background-color: cd-palette($cd-background, 2002);

			.cd-row {
				.cd-col {
					padding: 0;

					.cd-slides-wrapper {
						position: relative;

						.cd-slides {
							.cd-slide {
								max-height: 400px;

								img {
									display: block;
									max-height: 400px;
									object-fit: cover;
									width: 100%;
								}
							}
						}

						.cd-navs {
							left: 20px;
							margin-top: -15px;
							position: absolute;
							right: 20px;
							top: 50%;

							.cd-left {
								cursor: pointer;
								float: left;

								i {
									@extend .cd-common-navs-icon;
								}
							}

							.cd-right {
								cursor: pointer;
								float: right;

								i {
									@extend .cd-common-navs-icon;
								}
							}
						}
					}
				}
			}
		}
	}

	footer {
		background-color: cd-palette($cd-background, 2002);

		.cd-container {
			.cd-row {
				padding: 15px 0;

				.cd-col {
					h5 {
						color: cd-palette($cd-color, 1000);
						font-weight: cd-fontWeight(100);

						i {
							color: cd-palette($cd-color, 1010);
						}
					}
				}
			}
		}
	}

	// Common
	.cd-common-navs-icon {
		background-color: cd-palette($cd-background, 2000);
		border-radius: 50%;
		color: cd-palette($cd-color, 1001);
		display: block;
		font-size: 30px;
		padding: 0 2px;
	}
}
