.cd-home-wrapper {
	header {
		.cd-top {
			background-color: cd-palette($cd-background, 2002);
			padding: 10px 0;

			.cd-col {
				margin: 0;
			}
		}
	}

	footer {
		background-color: cd-palette($cd-background, 2002);

		.cd-container {
			.cd-row {
				padding: 15px 0;

				.cd-col {
					h5 {
						color: cd-palette($cd-color, 1000);
						font-weight: cd-fontWeight(100);

						i {
							color: cd-palette($cd-color, 1010);
						}
					}
				}
			}
		}
	}
}
