.cd-home-wrapper {
	header {
		.cd-top {
			background-color: cd-palette($cd-background, 2002);
			padding: 10px 0;

			.cd-col {
				margin: 0;

				a {
					text-transform: uppercase;
				}
			}
		}

		.cd-bottom {
			background-color: cd-palette($cd-background, 2001);
			padding: 10px 0;

			.cd-row {
				align-items: center;

				.cd-col {
					&:last-child {
						.cd-list-items {
							margin-top: 20px;

							li {
								display: inline-block;

								a {
									padding: 0 10px;
								}

								&:first-child {
									a {
										padding-left: 0;
									}
								}

								&:last-child {
									a {
										padding-right: 0;
									}
								}
							}
						}
					}
				}
			}
		}

		// media
		@include cd-media(desktop, mini) {
			.cd-bottom {
				.cd-col {
					&:first-child {
						text-align: center;
					}
				}
			}
		}
	}

	section {
		&.cd-under-construction {
			background-color: cd-palette($cd-background, 2002);
			padding: 10px;
		}

		&.cd-recent-posts {
			padding: 10px;
		}
	}

	footer {
		background-color: cd-palette($cd-background, 2002);

		.cd-container {
			.cd-row {
				padding: 15px 0;

				.cd-col {
					h5 {
						color: cd-palette($cd-color, 1000);
						font-weight: cd-fontWeight(100);

						i {
							color: cd-palette($cd-color, 1010);
						}
					}
				}
			}
		}
	}
}
