.cd-up-wrapper {
	header {
		background-color: cd-palette($cd-background, 2003);

		.cd-row {
			padding: 25px 0;

			.cd-col {
				h1 {
					color: cd-palette($cd-color, 1000);
				}

				h4 {
					color: cd-palette($cd-color, 1000);
					font-weight: 100;
					margin-top: 5px;
				}
			}
		}
	}

	section {
		&.cd-up-summary {
			background-color: cd-palette($cd-background, 2004);

			.cd-container {
				.cd-row {
					padding: 30px 0;

					.cd-col {
						p {
							margin-top: 12px;
						}

						.cd-tags {
							h5 {
								margin-bottom: 10px;
							}

							span {
								background-color: cd-palette($cd-background, 2000);
								border: 1px solid cd-palette($cd-border, 3007);
								border-radius: 1px;
								color: cd-palette($cd-color, 1008);
								font-weight: 100;
								line-height: 2;
								padding: 4px 5px;
							}
						}
					}
				}
			}
		}

		&.cd-up-content {
			.cd-container {
				> .cd-row {
					margin: 30px 0;

					.cd-col {
						&.cd-up-quick-wrapper {
							.cd-up-keywords {
								.cd-logo {
									margin-top: 15px;

									img {
										border: 1px solid cd-palette($cd-border, 3007);
										height: 50px;
										margin-bottom: 15px;
										padding: 2px;
									}
								}

								.cd-tags {
									span {
										background-color: cd-palette($cd-background, 2005);
										border: 1px solid cd-palette($cd-border, 3007);
										border-radius: 1px;
										color: cd-palette($cd-color, 1006);
										font-weight: 100;
										line-height: 2;
										padding: 4px 5px;
									}
								}
							}
						}

						&.cd-up-background-wrapper {
							.cd-up-education {
								h5 {
									border-left: 5px solid cd-palette($cd-border, 3003);
									font-weight: 200;
									margin-top: 4px;
									padding-left: 5px;
								}

								.cd-row {
									&.cd-first {
										margin-top: 30px;
									}

									.cd-col {
										&:first-child {
											.cd-info {
												h4 {
													margin-bottom: 10px;
												}

												p {
													margin-bottom: 10px;
												}
											}
										}

										&:last-child {
											align-items: center;
											display: flex;

											.ts-left {
												float: left;

												img {
													border: 1px solid cd-palette($cd-border, 3007);
													padding: 2px;
													width: 45px;

													&.cd-bonn {
														width: 100px;
													}
												}
											}

											.ts-right {
												margin-left: 20px;

												h4 {
													margin-bottom: 4px;
												}

												p {
													font-weight: 200;
												}
											}
										}
									}
								}
							}

							.cd-up-experience {
								margin-top: 30px;

								h5 {
									border-left: 5px solid cd-palette($cd-border, 3003);
									font-weight: 200;
									margin-top: 4px;
									padding-left: 5px;
								}
							}
						}
					}
				}
			}

			// media
			@include cd-media(desktop, smartphone) {
				.cd-container {
					> .cd-row {
						.cd-col {
							&.cd-up-background-wrapper {
								.cd-up-education {
									margin-top: 30px;
								}
							}
						}
					}
				}
			}

			@include cd-media(desktop, portrait) {
				.cd-container {
					> .cd-row {
						.cd-col {
							&.cd-up-background-wrapper {
								.cd-up-education {
									.cd-row {
										.cd-col {
											&:last-child {
												display: block;

												.ts-left {
													float: none;
												}

												.ts-right {
													margin: 10px 0 0;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
