.cd-up-wrapper {
	header {
		background-color: cd-palette($cd-background, 2003);

		.cd-container {
			position: relative;

			.cd-row {
				padding: 25px 0;

				.cd-col {
					.cd-profile-pic {
						bottom: -50px;
						position: absolute;
						right: 15px;
						z-index: cd-zIndex(float);

						img {
							border: 2px solid cd-palette($cd-border, 3003);
							border-radius: 50%;
							box-shadow: 0 4px 8px 0 cd-palette($cd-shadow, 4001, .3);
							display: block;
							height: auto;
							margin: auto;
							width: 100px;
						}
					}

					h1 {
						color: cd-palette($cd-color, 1000);
					}

					h4 {
						color: cd-palette($cd-color, 1000);
						font-weight: cd-fontWeight(100);
						margin-top: 5px;
					}
				}
			}
		}

		// media
		@include cd-media(desktop, smartphone) {
			.cd-container {
				> .cd-row {
					.cd-col {
						.cd-profile-pic {
							position: static;

							img {
								box-shadow: none;
								width: 140px;
							}
						}
					}
				}
			}
		}
	}

	section {
		position: relative;

		.cd-summary {
			background-color: cd-palette($cd-background, 2004);

			.cd-container {
				.cd-row {
					padding: 30px 0;

					.cd-col {
						p {
							margin-top: 12px;
						}

						.cd-tags {
							h5 {
								margin-bottom: 10px;
							}

							span {
								background-color: cd-palette($cd-background, 2000);
								border: 1px solid cd-palette($cd-border, 3007);
								border-radius: 1px;
								color: cd-palette($cd-color, 1008);
								font-weight: cd-fontWeight(100);
								line-height: 2;
								padding: 3px 5px;
							}
						}
					}
				}
			}
		}

		.cd-content {
			.cd-container {
				> .cd-row {
					margin: 30px 0;

					.cd-col {
						&.cd-quick-wrapper {
							.cd-keywords {
								.cd-logo {
									margin-top: 15px;

									img {
										border: 1px solid cd-palette($cd-border, 3007);
										height: 50px;
										margin-bottom: 15px;
										padding: 2px;
									}
								}

								.cd-tags {
									span {
										background-color: cd-palette($cd-background, 2005);
										border: 1px solid cd-palette($cd-border, 3007);
										border-radius: 1px;
										color: cd-palette($cd-color, 1006);
										font-weight: cd-fontWeight(100);
										line-height: 2;
										padding: 3px 5px;
									}
								}
							}
						}

						&.cd-background-wrapper {
							.cd-education {
								h5 {
									border-left: 3px solid cd-palette($cd-border, 3003);
									font-weight: cd-fontWeight(200);
									margin-top: 5px;
									padding-left: 5px;
								}

								.cd-list-wrapper {
									ul {
										list-style: none;
										margin: 30px 0 0;
										padding: 0;

										li {
											align-items: center;
											display: flex;

											.ts-left {
												float: left;

												img {
													border: 1px solid cd-palette($cd-border, 3007);
													padding: 2px;
													width: 45px;
												}
											}

											.ts-right {
												margin-left: 20px;

												h4 {
													margin-bottom: 4px;
												}

												p {
													font-weight: cd-fontWeight(200);
												}
											}

											&:last-child {
												margin-top: 30px;
											}
										}
									}
								}
							}

							.cd-experience {
								h5 {
									border-left: 3px solid cd-palette($cd-border, 3003);
									font-weight: cd-fontWeight(200);
									margin-top: 5px;
									padding-left: 5px;
								}

								.cd-list-wrapper {
									position: relative;

									ul {
										list-style: none;
										margin: 30px 0 0;
										padding: 0;

										&::before {
											border-left: 1px solid #e2e2e2;
											bottom: 0;
											content: '';
											left: 22px;
											position: absolute;
											top: 0;
										}

										li {
											align-items: center;
											display: flex;

											.ts-left {
												float: left;
												z-index: cd-zIndex(normal);

												img {
													border: 1px solid cd-palette($cd-border, 3007);
													padding: 2px;
													width: 45px;
												}
											}

											.ts-right {
												margin-left: 20px;

												h4 {
													margin-bottom: 4px;
												}

												p {
													font-weight: cd-fontWeight(200);
												}
											}

											&:last-child {
												margin-top: 30px;
											}
										}
									}
								}
							}
						}
					}
				}
			}

			// media
			@include cd-media(desktop, smartphone) {
				.cd-container {
					> .cd-row {
						.cd-col {
							&.cd-background-wrapper {
								.cd-education {
									margin-top: 30px;
								}
							}
						}
					}
				}
			}

			@include cd-media(desktop, portrait) {
				.cd-container {
					> .cd-row {
						.cd-col {
							&.cd-background-wrapper {
								.cd-education {
									.cd-list-wrapper {
										ul {
											li {
												display: block;

												.ts-left {
													float: none;
												}

												.ts-right {
													margin: 10px 0 0;
												}
											}
										}
									}
								}

								.cd-experience {
									.cd-list-wrapper {
										ul {
											&::before {
												content: none;
											}

											li {
												display: block;

												.ts-left {
													float: none;
												}

												.ts-right {
													margin: 10px 0 0;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}

		.cd-social {
			.cd-container {
				.cd-row {
					.cd-col {
						background-color: cd-palette($cd-background, 2000);
						border: 1px solid cd-palette($cd-border, 3005);
						left: 0;
						padding: 5px 3px;
						position: fixed;
						top: 130px;

						a {
							display: block;

							img {
								width: 20px;
							}

							&:first-of-type {
								margin-bottom: 10px;
							}
						}
					}
				}
			}
		}
	}
}
