// Color
$cd-color: (
	1000: #ffffff,
	1001: #000000,
	1002: #2facf5,
	1003: #509396,
	1004: #f8f8f8
);

// Background
$cd-background: (
	2000: #ffffff,
	2001: #000000,
	2002: #2facf5,
	2003: #509396,
	2004: #f8f8f8
);

// Border
$cd-border: (
	3000: #ffffff,
	3001: #000000,
	3002: #2facf5,
	3003: #345450,
	3004: #f8f8f8
);

// Shadow
$cd-shadow: (
	4000: #ffffff,
	4001: #000000,
	4002: #2facf5,
	4003: #509396,
	4004: #f8f8f8
);
