// Color
$cd-color: (
	1000: #ffffff,
	1001: #000000
);

// Background
$cd-background: (
	2000: #ffffff,
	2001: #000000
);

// Border
$cd-border: (
	3000: #ffffff,
	3001: #000000
);

// Shadow
$cd-shadow: (
	4000: #ffffff,
	4001: #000000
);
