$cd-nav-bg-color:         		cd-palette($cd-background, 2001);
$cd-nav-color:            		cd-palette($cd-color, 1009);

$cd-nav-hover-bg-color:   		cd-palette($cd-background, 2004);
$cd-nav-hover-color:      		cd-palette($cd-color, 1001);

$cd-nav-highlight-bg-color:   	cd-palette($cd-background, 2010);

$cd-nav-border-color:     		cd-palette($cd-border, 3011);
$cd-nav-shadow-color:     		cd-palette($cd-shadow, 4012);
