$cd-tooltip-bg-color:			cd-palette($cd-background, 2000, .8) !default;
$cd-tooltip-arrow-color:		cd-palette($cd-border, 3000, .8) !default;
$cd-tooltip-shadow-color:		cd-palette($cd-shadow, 4000, .1);

$cd-tooltip-color:				cd-palette($cd-color, 1001) !default;
$cd-tooltip-font-size:			14px !default;

$cd-tooltip-margin:				14px;
