$cd-tooltip-content-bg-color:	cd-palette($cd-background, 2001, .8) !default;
$cd-tooltip-arrow-color:		cd-palette($cd-border, 3001, .8) !default;
$cd-tooltip-shadow-color:		cd-palette($cd-shadow, 4001, .1);

$cd-tooltip-font-color:			cd-palette($cd-color, 1000) !default;
$cd-tooltip-font-size:			14px !default;

$cd-tooltip-space:				14px;
