@mixin cd-triangle($size: 105px, $direction: 'bottom-left', $pueudo: false) {
	@if $pueudo == true {
		content: '';
	}

	// Directions
	// Top - Left / Right
	// Bottom - Left / Right
	@if $direction == 'bottom-left' {
		border-bottom: $size solid cd-palette($cd-background, 2003);
		border-right: $size solid transparent;
	} @else if $direction == 'bottom-right' {
		border-bottom: $size solid cd-palette($cd-background, 2003);
		border-left: $size solid transparent;
	} @else if $direction == 'top-left' {
		border-right: $size solid transparent;
		border-top: $size solid cd-palette($cd-background, 2003);
	} @else if $direction == 'top-right' {
		border-left: $size solid transparent;
		border-top: $size solid cd-palette($cd-background, 2003);
	}
}
