// media queries
$cd-breakPoints: (
	widescreen:	( min-width: 1201px ),
	desktop:	( max-width: 1200px ),
	tablet:		( max-width: 992px ),
	smartphone:	( max-width: 767px ),
	portrait:	( max-width: 480px )
);

// grid
$cd-columns: 12;
$cd-gutter: 15px;

// z-index
$cd-zIndex: (
	normal:	1,
	float:	2,
	modal:	3,
	loader:	4
);

// font-family
$cd-fontFamily: (
	helvetica:	'Helvetica Neue'
);

// font-size
$cd-fontSize: (
	h1:		36px,
	h2:		30px,
	h3:		24px,
	h4:		18px,
	h5:		14px,
	h6:		12px,
	p:		14px,
	span: 	14px
);
