// platforms and devices
$platform-desktop:		desktop;
$platform-mobile:		mobile;

$device-widescreen:		widescreen;
$device-desktop:		desktop;
$device-tablet:			tablet;
$device-smartphone:		smartphone;
$device-portrait:		portrait;

// media queries
$cd-devicePoints: (
	$platform-desktop: (
		$device-widescreen:	( min-width: 1201px ),
		$device-desktop:	( max-width: 1200px, ),
		$device-tablet:		( max-width: 992px ),
		$device-smartphone:	( max-width: 767px ),
		$device-portrait:	( max-width: 480px )
	),
	$platform-mobile: (
		$device-portrait:	( max-width: 479px ),
		$device-smartphone:	( min-width: 480px ),
		$device-tablet:		( min-width: 767px ),
		$device-desktop:	( min-width: 992px, ),
		$device-widescreen:	( min-width: 1200px )
	)
);

// container
$cd-containerPoints: (
	$device-tablet:		767 - 30 + px,
	$device-desktop:	992 - 30 + px,
	$device-widescreen:	1200 - 30 + px
);

// grid
$cd-columns: 12;
$cd-gutter: 15px;

// z-index
$cd-zIndex: (
	normal:	1,
	float:	2,
	modal:	3,
	loader:	4
);

// font-family
$cd-fontFamily: (
	helvetica:	'Helvetica Neue'
);

// font-size
$cd-fontSize: (
	h1:		36px,
	h2:		30px,
	h3:		24px,
	h4:		18px,
	h5:		14px,
	h6:		12px,
	p:		14px,
	span: 	14px
);
