// Color
$cd-color: (
	1000: #ffffff,
	1001: #000000,
	1002: #e74c3c,
	1003: #3d4042,
	1004: #f8f8f8,
	1005: #ececec,
	1006: #848080,
	1007: #efefef,
	1008: #6a6c6d,
	1009: #333333,
	1010: #e67e22,
	1011: #5bc0de,
	1012: #71c578,
	1013: #dddddd
);

// Background
$cd-background: (
	2000: #ffffff,
	2001: #000000,
	2002: #e74c3c,
	2003: #3d4042,
	2004: #f8f8f8,
	2005: #ececec,
	2006: #848080,
	2007: #efefef,
	2008: #6a6c6d,
	2009: #333333,
	2010: #e67e22,
	2011: #5bc0de,
	2012: #71c578,
	2013: #dddddd
);

// Border
$cd-border: (
	3000: #ffffff,
	3001: #000000,
	3002: #e74c3c,
	3003: #3d4042,
	3004: #f8f8f8,
	3005: #ececec,
	3006: #848080,
	3007: #efefef,
	3008: #6a6c6d,
	3009: #333333,
	3010: #e67e22,
	3011: #5bc0de,
	3012: #71c578,
	3013: #dddddd
);

// Shadow
$cd-shadow: (
	4000: #ffffff,
	4001: #000000,
	4002: #e74c3c,
	4003: #3d4042,
	4004: #f8f8f8,
	4005: #ececec,
	4006: #848080,
	4007: #efefef,
	4008: #6a6c6d,
	4009: #333333,
	4010: #e67e22,
	4011: #5bc0de,
	4012: #71c578,
	4013: #dddddd
);
