body {
	color: var(--c7);
	line-height: cd-lineHeight(1.5);
}

h1, h2, h3, h4, h5, h6, p {  margin: 0; }

h1, h2, h3, h4, h5, h6 { font-weight: cd-fontWeight(500); }
p, span, a { font-weight: cd-fontWeight(400); }
b, strong { font-weight: cd-fontWeight(700); }

h1 { font-size: cd-fontSize(h1); }
h2 { font-size: cd-fontSize(h2); }
h3 { font-size: cd-fontSize(h3); }
h4 { font-size: cd-fontSize(h4); }
h5 { font-size: cd-fontSize(h5); }
h6 { font-size: cd-fontSize(h6); }
p { font-size: cd-fontSize(s15); }
a { font-size: cd-fontSize(s15); }
span { font-size: cd-fontSize(s15); }
