* {
	box-sizing: border-box;

	&::before, &::after {
		box-sizing: border-box;
	}
}

// === user selection === //
::selection {
	background-color: cd-palette($cd-background, 2010);
	color: cd-palette($cd-color, 1001);
}

// === image === //
img {
	max-width: 100%;
	vertical-align: middle;
}

// === link === //
a {
	text-decoration: none;
}
