// box sizing
* {
	box-sizing: inherit;

	&::before, &::after {
		box-sizing: inherit;
	}
}

// === reset - margin and passing === //
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, cite, code, img, strong, sub,
sup, b, u, i, ol, ul, li, fieldset,
form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td,
article, aside, canvas, embed,
figure, figcaption, footer, header,
menu, nav, section, audio, video {
	margin: 0;
	padding: 0;
}

// === reset and stabilize === //
html {
	box-sizing: border-box;

	body {
		// === support for older browsers === //
		article, aside, details, figcaption, figure,
		footer, header, hgroup, menu, nav, section {
			display: block;
		}

		// === user selection === //
		::selection {
			background-color: cd-palette($cd-background, 2010);
			color: cd-palette($cd-color, 1001);
		}

		// === image === //
		img {
			max-width: 100%;
			vertical-align: middle;
		}

		// === link === //
		a {
			text-decoration: none;
		}
	}
}
