.cd-modal-wrapper {
	background-color: $cd-modal-wrapper-bg-color;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: cd-zIndex(modal);

	&.cd-modal-open {
		display: block;
	}

	.cd-modal {
		@extend .cd-vh-center;
		background-color: $cd-modal-bg-color;
		box-shadow: 0 0 90px 0 $cd-modal-shadow-color;
		display: block;
		max-height: 90%;
		max-width: 90%;
		overflow: auto;
		width: 700px;

		// Messages
		.cd-modal-messages {
			header {
				position: relative;

				.cd-header {
					background-color: $cd-modal-header-default-bg-color;
					padding: 15px;

					&.cd-error {
						background-color: $cd-modal-header-error-bg-color;
					}

					&.cd-success {
						background-color: $cd-modal-header-success-bg-color;
					}

					&.cd-alert {
						background-color: $cd-modal-header-alert-bg-color;
					}

					&.cd-warning {
						background-color: $cd-modal-header-warning-bg-color;
					}

					i {
						color: $cd-modal-header-icon-color;
					}

					h2 {
						color: $cd-modal-header-label-color;
						font-weight: 200;
					}
				}

				.cd-close {
					cursor: pointer;
					position: absolute;
					right: 5px;
					top: 5px;

					&:hover {
						opacity: .9;
					}

					i {
						color: $cd-modal-header-close-icon-color;
						margin-top: -2px;
					}
				}
			}

			section {
				.cd-content {
					padding: 20px;

					p {
						color: $cd-modal-content-paragraph-color;
					}
				}
			}
		}
	}

	// media
	@include cd-media(desktop, portrait) {
		.cd-modal {
			height: 100%;
			max-height: 100%;
			max-width: 100%;
		}
	}
}
