.cd-container-fluid, .cd-container {
	margin: 0 auto;
	padding: 0 15px;
}

.cd-container {
	// containerPoints loop
	@each $device, $map-value in $cd-containerPoints {
		// media queries
		@include cd-media($platform-mobile, $device) {
			width: $map-value;
		}
	}
}
