:root {
	--sfc1: #000000;
	--sfc2: #ffffff;
	--sfc3: #f8f8f8;
	--sfc4: #efefef;
	--sfc5: #e4e4e4;
	--sfc6: #696969;
	--sfc7: #333333;
	--sfc8: #e74c3c;
	--sfc9: #2196f3;
	--sfc10: #0288d1;
	--sfc11: #01579b;
	--sfc12: #71c578;
	--sfo1: rgba(0, 0, 0, .1);
	--sfo2: rgba(0, 0, 0, .8);
}
